#logo {
    display: inline;
    height: 75px;
    width: 75px;
    padding-left: 30px;
    padding-top: 20px;
}

li {
    display: inline;
    padding-left: 50px;
}

ul {
    display: inline-block;
    padding-left: 200px;
    
}

h1 {
    padding-left: 30px;    
}

h2 {
    padding-left: 30px;
}

.imgarticle {
    width: 200px;
    height: 200px;
    text-align: center;
}

div {
    width: 200px;
    height: 250px;
    background-color: #FCC403;
    margin: 30px;
    display: inline-block;
    text-align: center;
    border: solid 2px #FCC403;
}

aside {
    width: 200px;
    height: 250px;
    display: inline;
}

p {
    width: 150px;
    height: 200px;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: monospace;
}


footer {
    font-family: monospace;
    padding: 20px;
    text-align: center;
}